/* Colors Button Square */
$background_buttonsq: #7749F8;
$background_buttonsq_hover: #EF5DA8;
$background_buttonsq_active: #7879F1;

/* Colors Button Round */
$background_buttonrd: #082692;
$background_buttonrd_hover: #0A6BDD;
$background_buttonrd_active: #1D88C3;

/* Colors Global */
$background_disabled: #D4D3D3;
$text_button: white;