/* Colors */
/* Sizes */
/* Light Mode */
/* Dark Mode */
html, body {
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(248, 210, 217) 0%, rgb(211, 219, 219) 100%);
  width: 100vw;
  height: 100vh;
  min-width: 810px;
  min-height: 810px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}
html .container, body .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
html .container .app, body .container .app {
  margin: auto;
  width: 810px;
  height: 390px;
  border-radius: 34px;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  overflow: hidden;
}
html .container .app .col, body .container .app .col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
html .container .app .col.left, body .container .app .col.left {
  width: 200px;
  height: 390px;
  background: #fff;
}
html .container .app .col.left .textbox, body .container .app .col.left .textbox {
  display: flex;
  flex-direction: column;
  text-align: center;
}
html .container .app .col.left .textbox h1, html .container .app .col.left .textbox h3, body .container .app .col.left .textbox h1, body .container .app .col.left .textbox h3 {
  margin-bottom: -10px;
}
html .container .app .col.left .textbox h1, body .container .app .col.left .textbox h1 {
  font-size: 48px;
}
html .container .app .col.right, body .container .app .col.right {
  width: 612px;
  height: 390px;
  background: #E7D6C6;
}
html .container .app .col.right .rightcontainer, body .container .app .col.right .rightcontainer {
  width: 612px;
  height: 390px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html .container .app .col.right .rightcontainer .row1, html .container .app .col.right .rightcontainer .row2, html .container .app .col.right .rightcontainer .row3, body .container .app .col.right .rightcontainer .row1, body .container .app .col.right .rightcontainer .row2, body .container .app .col.right .rightcontainer .row3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 580px;
}
html .container .app .col.right .rightcontainer .row1 .search, body .container .app .col.right .rightcontainer .row1 .search {
  width: 209px;
  height: 33px;
  border-radius: 10px;
  border: none;
  background-color: #fff;
  color: grey;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: end;
}
html .container .app .col.right .rightcontainer .row2, body .container .app .col.right .rightcontainer .row2 {
  padding-bottom: 20px;
}
html .container .app .col.right .rightcontainer .row2 .boxbig, body .container .app .col.right .rightcontainer .row2 .boxbig {
  width: 180px;
  background: #fff;
  border-radius: 10px;
  height: 140px;
}
html .container .app .col.right .rightcontainer .row2 .boxbig .boxrow1, body .container .app .col.right .rightcontainer .row2 .boxbig .boxrow1 {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 180px;
  height: 30px;
}
html .container .app .col.right .rightcontainer .row2 .boxbig .boxrow1 p, body .container .app .col.right .rightcontainer .row2 .boxbig .boxrow1 p {
  padding-right: 25px;
  padding-top: 15px;
}
html .container .app .col.right .rightcontainer .row2 .boxbig .boxrow2, body .container .app .col.right .rightcontainer .row2 .boxbig .boxrow2 {
  display: flex;
  width: 180px;
  height: 100px;
}
html .container .app .col.right .rightcontainer .row2 .boxbig .boxrow2 .boxrow2col1, body .container .app .col.right .rightcontainer .row2 .boxbig .boxrow2 .boxrow2col1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 100px;
}
html .container .app .col.right .rightcontainer .row2 .boxbig .boxrow2 .boxrow2col1 img, body .container .app .col.right .rightcontainer .row2 .boxbig .boxrow2 .boxrow2col1 img {
  width: auto;
  padding-left: 25px;
}
html .container .app .col.right .rightcontainer .row2 .boxbig .boxrow2 .boxrow2col2, body .container .app .col.right .rightcontainer .row2 .boxbig .boxrow2 .boxrow2col2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: 110px;
  height: 100px;
}
html .container .app .col.right .rightcontainer .row2 .boxbig .boxrow2 .boxrow2col2 h3, html .container .app .col.right .rightcontainer .row2 .boxbig .boxrow2 .boxrow2col2 p, body .container .app .col.right .rightcontainer .row2 .boxbig .boxrow2 .boxrow2col2 h3, body .container .app .col.right .rightcontainer .row2 .boxbig .boxrow2 .boxrow2col2 p {
  padding-right: 25px;
}
html .container .app .col.right .rightcontainer .row2 .boxbig .boxrow2 .boxrow2col2 p, body .container .app .col.right .rightcontainer .row2 .boxbig .boxrow2 .boxrow2col2 p {
  position: relative;
  top: -35px;
}
html .container .app .col.right .rightcontainer .row3 .boxsmall, body .container .app .col.right .rightcontainer .row3 .boxsmall {
  width: 180px;
  background: #fff;
  border-radius: 10px;
  height: 100px;
}
html .container .app .col.right .rightcontainer .row3 .boxsmall .boxrow1, body .container .app .col.right .rightcontainer .row3 .boxsmall .boxrow1 {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 180px;
  height: 30px;
}
html .container .app .col.right .rightcontainer .row3 .boxsmall .boxrow1 p, body .container .app .col.right .rightcontainer .row3 .boxsmall .boxrow1 p {
  padding-right: 25px;
  padding-top: 15px;
}
html .container .app .col.right .rightcontainer .row3 .boxsmall .boxrow2, body .container .app .col.right .rightcontainer .row3 .boxsmall .boxrow2 {
  display: flex;
  width: 180px;
  height: 60px;
}
html .container .app .col.right .rightcontainer .row3 .boxsmall .boxrow2 .boxrow2col1, body .container .app .col.right .rightcontainer .row3 .boxsmall .boxrow2 .boxrow2col1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 60px;
}
html .container .app .col.right .rightcontainer .row3 .boxsmall .boxrow2 .boxrow2col1 img, body .container .app .col.right .rightcontainer .row3 .boxsmall .boxrow2 .boxrow2col1 img {
  width: auto;
  padding-left: 25px;
}
html .container .app .col.right .rightcontainer .row3 .boxsmall .boxrow2 .boxrow2col2, body .container .app .col.right .rightcontainer .row3 .boxsmall .boxrow2 .boxrow2col2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: 110px;
  height: 60px;
  padding-top: 15px;
}
html .container .app .col.right .rightcontainer .row3 .boxsmall .boxrow2 .boxrow2col2 h3, html .container .app .col.right .rightcontainer .row3 .boxsmall .boxrow2 .boxrow2col2 p, body .container .app .col.right .rightcontainer .row3 .boxsmall .boxrow2 .boxrow2col2 h3, body .container .app .col.right .rightcontainer .row3 .boxsmall .boxrow2 .boxrow2col2 p {
  padding-right: 25px;
}
html .container .app .col.right .rightcontainer .row3 .boxsmall .boxrow2 .boxrow2col2 p, body .container .app .col.right .rightcontainer .row3 .boxsmall .boxrow2 .boxrow2col2 p {
  position: relative;
  top: -35px;
}
html .container .app .col.right .rightcontainer .row4, body .container .app .col.right .rightcontainer .row4 {
  display: flex;
  gap: 25px;
  justify-content: end;
  align-items: center;
  width: 535px;
}
html .container .app .col.right .rightcontainer .row4 .p1, body .container .app .col.right .rightcontainer .row4 .p1 {
  color: rgb(101, 171, 104);
}
html .container .app.dark, body .container .app.dark {
  color: #fff;
}
html .container .app.dark .col.left, body .container .app.dark .col.left {
  width: 200px;
  height: 390px;
  background: rgb(85, 85, 85);
}
html .container .app.dark .col.right, body .container .app.dark .col.right {
  width: 612px;
  height: 390px;
  background: rgb(46, 46, 46);
}
html .container .app.dark .col.right .rightcontainer .row2 .boxbig, html .container .app.dark .col.right .rightcontainer .row2 .boxsmall, html .container .app.dark .col.right .rightcontainer .row3 .boxbig, html .container .app.dark .col.right .rightcontainer .row3 .boxsmall, body .container .app.dark .col.right .rightcontainer .row2 .boxbig, body .container .app.dark .col.right .rightcontainer .row2 .boxsmall, body .container .app.dark .col.right .rightcontainer .row3 .boxbig, body .container .app.dark .col.right .rightcontainer .row3 .boxsmall {
  width: 180px;
  background: rgb(66, 66, 66);
  border-radius: 10px;
}/*# sourceMappingURL=styles.css.map */