$height_boxbig: 140px;
$height_boxsmall: 100px;
$height_card1: 100px;
$height_card2: 60px;
$height_row2boxrow2col1: 100px;
$height_row3boxrow2col1: 60px;
$padding_bowrow2col2: 15px;
$padding_h3p: 25px;

@mixin card {
    width: 180px;
    background: $color_scheme1;
    border-radius: 10px;
}

@mixin carddark {
    width: 180px;
    background: $color_scheme4;
    border-radius: 10px;
}

@mixin row1 {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 180px;
    height: 30px;
}

@mixin row1p {
    padding-right: 25px;
    padding-top: 15px;
}

@mixin boxrow2 {
    display: flex;
    width: 180px;
}

@mixin boxrow2col1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
}

@mixin img {
    width: auto;
    padding-left: 25px;
}

@mixin boxrow2col2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 110px;
}

@mixin p {
    position: relative;
    top: -35px;
}