/* Colors */
$background_body: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(248,210,217,1) 0%, rgba(211,219,219,1) 100%);
$boxshadow_container: 2px 1px 5px rgba(0, 0, 0, 0.5);
$color_scheme1: #fff;
$color_scheme2: #E7D6C6;
$color_scheme3: rgb(85,85,85);
$color_scheme4: rgb(66,66,66);
$color_scheme5: rgb(46,46,46);
$color_selection: rgb(101, 171, 104);

/* Sizes */
$width_body: 100vw;
$height_body: 100vh;
$minsize: 810px;

$width_container: 810px;
$height_container: 390px;
$radius_container: 34px;
$margin_textbox: -10px;
$size_gap: 40px;

$size_primarytemp: 48px;
$padding_row2: 20px;