/* Colors */
$background_body: rgb(18,185,135);
$background_cardwhite: rgb(217,217,217);
$background_cardblack: #000;
$text_cardblack: white;
$shadow_cardblack: white;

/* Sizes */
$padding_text: 15px;
$size_boxshadow: 3px 3px 3px;